# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
numpy
pandas
yfinance==0.2.26
plotly
seaborn
azure-functions
matplotlib

